<div class="reset-margin">
  
  <!-- Masthead-->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Heading-->
      <h4 class="mb-0">
        Hire the IT expert you need - for any period of time - at low fees.
      </h4>
      <!-- Masthead Avatar Image-->
      <img class="masthead-avatar mb-5 mt-5" src="assets/img/programmer.svg" alt="" />
      <!-- Masthead Subheading-->
      <p class="masthead-subheading font-weight-light">
        
        Flexperts helps companies to instantly find the IT expert they are looking for and to overcome short term staff shortage at a much lower
        commission than the usual 20% percent. A software automates the recruitment process, contract signing / extension / termination, time
        tracking and billing which are all usually manually done and therefore time consuming. Creating transparency and automating these steps
        reduces time to a minimum and keeps costs down.
      
      </p>
    
    </div>
  </header>
  <!-- Portfolio Section-->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">
      <!-- Portfolio Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Why flexperts?</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Portfolio Grid Items-->
      <div class="row">
        
        <div class="col-md-6 col-lg-6 mb-5">
          <div class="portfolio-item mx-auto">
            <div class="text-fluid">
              <h4>
                <img class="teaser-img" src="assets/img/recruitment.svg">
                Automated Recruitment process
              </h4>
              <ul>
                <li>
                  You can invite any IT expert on this platform to be part in the recruitment process.
                </li>
                <li>
                  You can set the parameters of the recruitment process. All automated. I.e. you can get
                  the IT expert to do a coding test and/or 1 (or many) telephone/digital call(s).
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 col-lg-6 mb-5">
          <div class="portfolio-item mx-auto">
            <div class="text-fluid">
              <h4>
                <img class="teaser-img" src="assets/img/contract.svg">
                Automated contract management
              </h4>
              <ul>
                <li>
                  You can use our pre-designed and proven contract or upload your own.
                </li>
                <li>
                  The contract gets signed online and saved - to be viewed at any time.
                </li>
                <li>
                  You can request to extend the contract online.
                </li>
                <li>
                  You can terminate the contract adhering to the period of notice set in the contract.
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 col-lg-6 mb-5">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
            <div class="text-fluid">
              <h4>
                <img class="teaser-img" src="assets/img/invoices.svg">
                Automated time tracking & billing
              </h4>
              <ul>
                <li>
                  The IT-Expert tracks time online. You can accept or request changes - all online.
                </li>
                <li>
                  A bill gets created automatically - simply by pressing the button.
                </li>
                <li>
                  A bill can get forwarded to the accountant - online.
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 col-lg-6 mb-5">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
            <div class="text-fluid">
              <h4>
                <img class="teaser-img" src="assets/img/invoices.svg">
                Automated feedback & review process
              </h4>
              <ul>
                <li>
                  You will be asked for feedback at various stages. Feedback can
                </li>
                <li>
                  At the end of a contract both sides have the possibility to review each other.
                </li>
                <li>
                  At the end of a contract both sides have the possibility to review each other.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Section-->
  <section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- About Section Content-->
      <div class="row">
        <div class="col-lg-4 ml-auto"><p class="lead">
          Team:
        </div>
        <div class="col-lg-4 mr-auto"><p class="lead">
          <div>Du ?</div>
          <a class="text-white" href="https://marek-sonnabend.de">Marek Sonnabend</a>
        </div>
      </div>
    </div>
  </section>
</div>
